<section class="section">
  <div class="container has-text-centered">
    <div class="columns is-centered">
      <div class="column is-one-quarter">
        <p style="margin-top: 10%;">Welcome - choose to search</p>
        <div style="margin-top: 10%;">
          <a href="search/dog" id="dog-btn" data-id="{{Pet.animal_type}}" class="button is-primary is-fullwidth is-size-4 is-rounded">Dogs</a>
        </div>
        <div style="margin-top: 10%;">
          <a href="search/cat" id="cat-btn" data-id="{{Pet.animal_type}}" class="button is-primary is-fullwidth is-size-4 is-rounded">Cats</a>
        </div>
      </div>
    </div>
  </div>
</section>
