<section class="section">
  <div class="container has-text-centered">
    <div class="columns is-centered">
      <div class="column is-one-quarter">
        <h1 style="margin-top: 10%;">Welcome!</h1>
        <h3>What companion are you looking for?</h3>
      </div>
    </div>
  </div>
</section>


<section class="hero is-large custom-qg">
  <div class="hero-body parent1">
    <div class="">
      <a href="search/dog" id="dog-btn" data-id="{{Pet.animal_type}}" class="button is- is-fullwidth is-size-4 is-rounded">Dogs</a>
    </div>
  </div>
</section>
<section class="hero is-large custom-qq">
  <div class="hero-body parent1">
    <div class="">
       <a href="search/cat" id="cat-btn" data-id="{{Pet.animal_type}}" class="button is- is-fullwidth is-size-4 is-rounded">Cats</a>
    </div>
  </div>
</section>

