<section class="hero is-large is-lin blur has-bg-img custom-bg">
  <div class="hero-body">
    
  </div>
</section>

    <div class="has-text-centered box">
    <p class="title is-dark">
      Pet Connect
    </p>
    <p class="subtitle">
      Find your Companion!
    </p>
    <br>
    <a href="/signup">
      <button id="sign-in-button" class="button is-success is-rounded">Create an account</button>
    </a>
    <br>
    <br>
    <a href="/login">Already have an account? Login Instead</a>
    </div>
    



<section class="bg-img ">

</section>
