<section class="hero is-large is-link blur has-bg-img">
      <div class="hero-body has-text-centered">
        <p class="title">
          Pet-Connect
        </p>
        <p class="subtitle">
          Find your Companion!
        </p>
        <a href="/login">
        <button id="sign-in-button" class="button is-success is-rounded">Login</button>
        </a>
      </div>
</section>


