<body>


<section class="hero is-large  blur has-bg-img custom-gg ">
  <div class="hero-body">
    
  </div>
</section>

  <h2 class="has-text-centered">Login</h2>

  <form class="form login-form has-text-centered">
    <div class="form-group">
      <label for="email-login">Email</label>
      <input class="form-input" type="text" id="email-login" placeholder="Email" />
      
    </div>
    <div class="form-group">
      <label for="password-login">Password</label>
      <input class="form-input" type="password" id="password-login" placeholder="Password"/>
    </div>
    <div class="form-group has-text-centered">
      <button class="btn btn-primary" type="submit">login</button>
    </div>
  </form>
  
  <div class="has-text-centered">
    <br>
    <a href="/signup">Dont have an account? SignUp!</a>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>


<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Pet Connect</strong>.
    </p>
  </div>
</footer>

</body>
<script src="./js/login.js"></script>